.details-img {
    text-align: center;
    display: flex;
    padding: 4rem;
    flex-direction: column !important;
}

.desc {
    margin: auto 0 !important;
    min-width: 25rem;
}

.details-label {
    font-weight: 300;
    font-size: 16px;
}

.details-value {
    font-weight: 500;
    font-size: 20px;
}

.details-group {
    padding: 1rem 0
}

.car-color {
    width: 41vh;
    height: 27vh;
    margin: 2rem 0;
    border: 1px solid black;
}

.details-img-real {
    border: 1px solid black;
    height: 50vh;
    width: 65vh;
    object-fit: cover;
    margin: auto;
}

.grid-head {
    font-weight: 800;
    font-size: 24px;
}

#details-open {
    justify-content: space-between;
}

#btn-con {
    padding-bottom: 6rem; 
}

#purchase {
    background-color: #790E22;
    float: right;
}

.divider{
    justify-content: space-between;
}