.success-box {
    border: 1px black solid;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 32px;
    padding: 3rem;
}
#bmw {
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
}
#download-link {
    text-decoration-line: underline;
    color:#790E22;
}
#parent-overlay{
    position: relative;
    top: 0;
    left: 0;
    height: 27rem;
}
#bkg {
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    height: 100%;
    background-color: #000000;
    text-align: center;
    display: grid;
}

#spacing {
    height: 3rem;
}

#explore-more {
    color: #FFFFFF;
    margin: auto 0;
    font-weight: 700;
    font-size: 6vh;
}