#slide {
    max-width: 100%;
    height: 65vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#carousel {
    justify-content: space-between;
    height: 100%;
}

#home-head {
    margin: auto;
    font-weight: 700;
    font-size: 3.75vw;
    text-align: center;
    color: #FFFFFF;
}

#carousel-item{
    margin: auto 0;
}

#carousel-input{
    background-color: #FFFFFF;
    outline: none;
    width: 100%;
    flex-grow:2;
}

#search {
  background:#790E22;
  color:white;
}

form {
    display:flex;
    width: 100vh;
    height: 7vh;
    flex-direction:row;
}