.footer {
    padding: 7rem 5rem;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2rem;
}
.links-head {
    font-weight: 700;
    margin-bottom: 2rem;
}
