.main-body {
    background-color: black;
    padding: 0 3rem;
}
.white-back {
    background-color: #FFFFFF;
}
.sub-main-body {
    margin: 0 2rem 0 2rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;    
    font-size: 2rem;
}